*.lst
*.dat
*.DS_Store
*.rad
*.lsr
*.nc
*.log
*.out
*.tmp
__pycache__/
.ipynb_checkpoints
.vscode/
env/
venv/
*.egg-info/
build/
dist/
*.pytest_cache/
*.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
*.csv
*.xlsx
*.h5
*.hdf5
*.ckpt
*.pt
*.pth
*.png
*.jpg
*.jpeg
*.pdf
*.txt
*.err
*.fmt
*.pptx
*.swp
*.ps 
*.dat-old-laser
*script.sh
