name: fpi_gnn
channels:
  - nvidia
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - pandas
  - scikit-learn
  - scipy
  - matplotlib
  - xarray
  - cartopy
  - h5py
  - tqdm
  - pip
  - pytorch=2.3.0
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
